@tailwind base;
@tailwind components;
@tailwind utilities;


@import "../styles/button.css";
@import "../styles/typography.css";
@import "../styles/form.css";

@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/italianno';



:root {
  --primary: #6F7B4C;
  --secondary: #A38357;
  --tertiary: #D1D1D1;
  --black: #1a1a1a;
  --grey: #e9e9e9;
  --border-primary: 5px;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  @apply scroll-mt-24;
}

.container {
  @apply px-4 w-full max-w-[1312px] mx-auto;
}

.input, input[type="text"], input[type="email"], input[type="password"], textarea, select {
    border: 2px solid var(--grey);
    border-radius: 5px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    transition: outline 0.2s ease;
    font-family: inherit;
    font-size: 16px;
    padding:8px 16px;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus,
input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  outline: 2px solid var(--primary);
}

/* ✅ Red outline if .form-error is on the input */
input.form-error,
textarea.form-error {
  outline: 2px solid #ff0000;
}

/* ✅ Show error message from the parent when it contains a .form-error input/textarea */
&.has-error::after {
  content: '*field required';
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: -16px;
}

.react-select__control{
  min-height:44px !important;
}

.react-select__control:hover{
  border:2px solid var(--primary) !important;
  box-shadow: none !important;
}

.react-select__control--is-focused{
  border:2px solid var(--primary) !important;
  box-shadow: none !important;
}
.react-select__control--menu-is-open{
  border:2px solid var(--primary) !important;
  box-shadow: none !important;

}

.card { @apply border border-grey rounded-2xl p-4 bg-white shadow-sm; }
.label { @apply block font-semibold mb-1 text-sm; }



.swiper-button-disabled{
  @apply
  cursor-not-allowed opacity-40;
}


.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-tertiary);
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: var(--color-tertiary);
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
}